.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.modal{
    background:#fff;
    width:420px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    position:relative;
    animation:popup .3s ease;
}

@keyframes popup{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

.close-btn{
    position:absolute;
    top:15px;
    right:15px;
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
}

.modal img{
    width:100%;
    border-radius:10px;
}

.price{
    font-size:26px;
    color:#d4af37;
    font-weight:bold;
    margin:10px 0;
}

.rating{
    margin:10px 0;
}

.description{
    color:#555;
    line-height:1.6;
    margin:20px 0;
}

.modal-cart-btn{
    width:100%;
    background:#d4af37;
    border:none;
    padding:14px;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
    font-weight:bold;
}